*{box-sizing: border-box; padding: 0; margin:0; }

body{font-family: 'Varela Round', sans-serif; color:white;}

.main{
  display: flex;
  flex-direction: column;
}

.sub-main{
  display: flex;
  flex: row;
  height: 100%;
}

.sidebar{
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  height: 100vh;
  background-color:#090B12;
}

.navbar-group{
  display: flex;
  height: 30%;
  justify-content: space-between;
  flex-direction: column;
  padding: 25px;
}

.navbar-group li{
  list-style-type: none;
  font-size: 15px;
  padding: 15px 0;
}

.navbar-group i{
  padding: 0 5px;
  font-size: 22px;
}

.maincontent{
  background: linear-gradient(to right, #166770 0%,#151121 100%);
  flex-basis: 100%;
  height: 100vh;
  flex-direction: column;
}

.logo{
  display: flex;
  justify-content: center;
  padding-right: 38px;
}

.logo>img{
  margin: 15px 0;
  height: 40px;
  width:120px;
}

li span{
  display: inline-block;
  text-align: center;
  color:white;
}

.button{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
}

.button button{
  background-color: inherit;
  color:white;
  padding: 5px;
  border-radius: 12px;
  margin: 5px 15px;
}

#iscriviti{
  background-color: white;
  color: black;
}

.navbar-main li{
  list-style-type: none;
  display: inline-block;
  color: white;
  font-size: 12px;
}
.navbar-main ul{
  display: flex;
  justify-content: space-evenly;
  padding: 20px 150px;
}

.containerfix{
  display:flex;
  flex-wrap: wrap;
}

.createfor{
}


.h2label{
  font-size: 50px;
  padding:0 50px;
  margin-left: 15px;
}

.album-cover{
  height: 150px;
  width: 150px;
  display:flex;
  margin:0 15px;
  background-image: url('https://lineup-images.scdn.co/tastebreakers_DEFAULT-it.jpg');
  background-size: cover;
}

.container-album{
  display: flex;
  flex-wrap: wrap;
  height: 200px;
  text-align: center;
  padding:0 50px;
}

.recently-played-maincontent{
  display: flex;
}








.player-footer{
  background-color: grey;
  position:fixed;
  width: 100vw;
  height: 100px;
  bottom:0;
  display: flex;
}

.now-playing-album{
  background-color: red;
  flex-basis: 35%;
  display: flex;
  align-items: center;
  justify-content:center;
}

.now-playing-album img{
  width: 60px;
  height: 60px;

}

.player{
  background-color: green;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
}

.volume{
  display: flex;
  justify-content: center;
  align-items:center;
  flex-basis: 25%;
}
